#$ TOOL ispLEVER Classic 2.0.00.17.20.15
#$ DATE Mon Nov 19 14:36:57 2018
#$ MODULE chip_select
#$ PINS 8 a11:4 a10:3 a9:2 a8:1 ram_cs:19 adc_cs:18 oled_cs:17 oled_dc:16
.type fr
.i 3
.o 4
.ilb a11 a10 a9
.ob ram_cs adc_cs oled_cs oled_dc
.p 9
1-- ~111
0-- 1~~~
-1- ~~11
-0- ~1~~
--1 ~~~1
1-- 0~~~
01- ~0~~
00- ~~0~
000 ~~~0
.end
