#$ TOOL ispLEVER Classic 2.0.00.17.20.15
#$ DATE Wed Sep 12 14:24:39 2018
#$ MODULE chip_select
#$ PINS 10 a11:1 a10:2 a9:3 a8:4 wr:5 ram_cs:19 adc_cs:18 oled_cs:17 oled_dc:16 wr_inverted:15
.type fr
.i 4
.o 5
.ilb a11 a10 a9 wr
.ob ram_cs adc_cs oled_cs oled_dc wr_inverted
.p 12
1--- ~111~
0--- 1~~~~
-1-- ~~11~
-0-- ~1~~~
--1- ~~1~~
--0- ~~~1~
---0 ~~~~1
1--- 0~~~~
01-- ~0~~~
001- ~~~0~
000- ~~0~~
---1 ~~~~0
.end
